<main>
    <%- include('head.ejs') %>
        <%- include('logo.ejs') %>


            <main>
                <article>
                    <a href="http://localhost:22022/www.w3schools.com/index.html">w3schools</a>
                    <div> </div>
                </article>
                <article>
                    <a href="http://localhost:22022/canvas_file_cache/index.html">CURRENT</a>
                    <div> </div>
                </article>
                <article>
                    <a href="http://localhost:22022/FSWD/index.html">Full Stack Web Development Resources</a>
                    <div> </div>
                </article>
                <article>
                    <a href="http://localhost:22022/youtube.nel/public_html/index.html">Youtube Videos available</a>
                    <div> </div>
                </article>
                <article>
                    <a href="http://localhost:22022/react/index.html">React</a>
                    <div> </div>
                </article>

                <article><a href="academic-calendar-2022-23.pdf">Academic Calendar:</a>
                    <div> </div>
                </article>
                <article><a
                        href="Program_ Computer Information Systems - Web Application Developer Certificate-2022.pdf">Web
                        Application Developer Program:</a>
                    <div> </div>
                </article>
            </main>

            <article><a href="academic-calendar-2022-23.pdf">Academic Calendar:</a>
                <div> </div>
            </article>
            <article><a
                    href="Program_ Computer Information Systems - Web Application Developer Certificate-2022.pdf">Web
                    Application Developer Program:</a>
                <div> </div>
            </article>
</main>
<%- include('footer.ejs') %>