<title>WEBDEV my-server</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
  body {
    width: 95%;
    margin: 30px;
    background-color: #005588;
    margin: auto;

  }
  #allcontent {
    background-color: #005588;
  }
  #version {
    font-size: 3em;
  }

  #logo {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size:3em;
  }
  main {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 2em;
    background-color: #bbd6ef;
  }

  main article {
    width: 400px;
    height: 350px;
    /* border: 3px solid green; */
    text-align: center;
    background-color: #058;
    margin: 2%;
    color: white;
  }

  a {
    color: white;
  }

  #clos ol {
    display: flex;
    flex-direction: column;
  }

  #logo {
    padding: 25px;
    color: white;
    ;
  }


  #secondtd span {
    font-size: 2em;
  }

  #clos {
    padding: 25px;
    border: thin solid black;
    background-color:  #bbd6ef;
    list-style: none;
  }
  #clos articel ul {
    list-style: none;
  }
</style>