<div id="clos">
  <h3><span>Program Requirements(44 credits)</span></h3>
  <article>
    <ull>
      <li>
        <p><strong>OUTCOMES</strong><br /></p>
        <ol>
          <li>Build and maintain websites</li>
          <li>Work with stakeholders to create websites</li>
          <li>Research, assess, and appropriately apply emerging technology to support websites as needed in industry</li>
          <li>Comply with the ethics related to the use of copyrighted materials and intellectual property rights.</li>
          <li>Demonstrate an entrepeneurial approach to web development sites and pages.</li>
          <li>Manage career goals through creating effective resumes/CVs, developing interviewing skills, and setting goals.</li>
        </ol>
      </li>
    </ul> 
  </article>

</div>