<main>
    <article><a href="example.nel/public_html/a/week001.html">Quarter 1:</a>
        <div>CIS 241 and ART 225</div>
        <div>Web Development I and Introduction to Graphic Design</div>
        <div><a href="Public/Downloads/www.htmlandcssbook.com/www.htmlandcssbook.com/index.html">Textbook</a></div>
    </article>
    <!-- file:///C:/Users/Public/Downloads/www.htmlandcssbook.com/www.htmlandcssbook.com/ -->
    <article><a href="example.nel/public_html/b/week001.html">Quarter 2:</a>
        <div>CIS 242 and CS 115</div>
        <div>Web Development II: Javascript and jQuery and Introduction to Programming</div>
    </article>
    <article><a href="example.nel/public_html/a/week001.html">Quarter 3:</a>
        <div>CIS 243 and CIS 245 </div>
        <div>Web Development III </div>
    </article>
    <article><a href="example.nel/public_html/b/week001.html">Quarter 4:</a>
        <div>CIS 244 and CIS 246</div>
        <div>Web Development IV</div>
    </article>
    <article><a href="canvas_file_cache">CURRENT</a>
        <div>CIS 241</div>
        <div>Web Development I </div>
        <div><a href="videoviewer.com">Video Bank Search</a></div>
    </article>
 <article><a href="Public/Downloads/MDN/developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web.html">Mozilla Documentation</a>
        <div>version 2023 </div>
    </article>
    <article>
        <div>
            <a href="Public/Downloads/2021-fourth-cohort/www.w3schools.com">W3Schools </a>
        </div>
        <div>
            <a href="Public/Downloads/mozilla documentation">Mozilla Documentation</a>
        </div>
        <div>
            <a href="Public/Downloads/react/reactjs.org">react </a>
        </div>
        <div>
            <a href="Public/Downloads/express">Express</a>
        </div>
        <div>version 2019 </div>
    </article>
    <article>
        <div>
            <a href="Public/Downloads/marksheet">Marksheet</a>
        </div>
        <div>
            <a href="Public/Downloads/QuirksModeJS-master">QuirksModeJS-master</a>
        </div>
        <div>version 2019 </div>
    </article>
    <article><a
            href="calendar/Program_ Computer Information Systems - Web Application Developer Certificate-2022.pdf">Web
            Application Developer Program:</a>
        <div> </div>
    </article>
    <article><a href="canvas_file_cache/class-of-hacks">class of hacks:</a>
        <div>class-of-hacks repo: Additional Navigator by Holland(graduated 2022)</div>
    </article>
</main>