<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="&#x26c4;&#x26c4;" type="image/x-icon">
    <style>
        #version {
            font-size: 3em;
        }
        main {
            display: flex;
            flex-direction: row;
            /* justify-content: space-between; */
            justify-content: space-around;
            flex-wrap: wrap;
            font-size: 2em;

        }

        main article {
            width: 400px;
            height: 250px;
            /* border: 3px solid green; */
            text-align: center;
            background-color: #005588;
            margin: 2%;
            color: white;
        }

        a {
            color: white;
        }

        #allcontent {
            padding: 25px;
            background-color: #005588;
        }

        #secondtd {
            padding: 25px;
            color: white;
        }

        #secondtd span {
            font-size: 2em;
        }

        #container {
            padding: 0px 25px 25px;
            background-color: #bbd6ef;
        }

        #clos {
            padding: 25px;
            border: thin solid black;
        }
    </style>
    <title>Week013</title>
</head>

<body> 
    <p>week013</p>
    <p id="version">&#x26c4;&#x26c4;</p>
    <div id="allcontent">
        <table>
            <tbody>
                <tr>
                    <td><img src="./images/icons/smaller_logo.png" alt="smaller_logo.png" /></td>
                    <td id="secondtd"><span>Successful Demonstration of Competency</span></td>
                </tr>
            </tbody>
        </table>
        <div id="container">
            <div>
                <h3><span>Successful Demonstration of Competency</span></h3>
                <article id="clos">
                    <ul>
                        <li>
                            <p><strong>Course-level Learning Objectives (CLOs)</strong><br />Upon successful completion
                                of
                                this course, students will be able to:</p>
                            <ol>
                                <li>Perform content design and technical analysis on web applications and websites.</li>
                                <li>Use HTML5 to develop, debug, maintain, and document web applications and websites.
                                </li>
                                <li>Compare and contrast different browsers&rsquo; effects on HTML5 documents.</li>
                                <li>Use the basic principles of web documents.</li>
                                <li>Use HTML5 forms, iframes, and tables.</li>
                                <li>Create HTML5 style through inline, embedded, and Cascading Style Sheets.</li>
                            </ol>
                        </li>
                    </ul>
                </article>

            </div>
            <p><br />Successful demonstration of your competencies for this course may be done by:</p>

            <main>
                <article><a href="">Week 1:</a>
                    <div> Introduction, Syllabus, academic materials</div>
                </article>
                <article><a href="">Week 1:</a>
                    <div> Introduction, Syllabus, academic materials</div>
                </article>
                <article><a href="">Week 1:</a>
                    <div> Introduction, Syllabus, academic materials</div>
                </article>
                <article><a href="">Week 1:</a>
                    <div> Introduction, Syllabus, academic materials</div>
                </article>
                <article><a href="">Week 1:</a>
                    <div> Introduction, Syllabus, academic materials</div>
                </article>
                <article><a href="">Week 1:</a>
                    <div> Introduction, Syllabus, academic materials</div>
                </article>
                <article><a href="">Week 1:</a>
                    <div> Introduction, Syllabus, academic materials</div>
                </article>
                <article><a href="">Week 1:</a>
                    <div> Introduction, Syllabus, academic materials</div>
                </article>
            </main>
        </div>

    </div>
    </div>
</body>
</html>